Design/__Previews/
Design/History/
Design/Project Logs for FUTSW/
Design/debug.log
Design/Project Outputs for FUTSW/
Production/Gerber/__Previews/FUTSW.REPPreview
Production/NC Drill/__Previews/FUTSW.LDPPreview
